// Card component
.card
  margin: 15% auto
  overflow: hidden
  width: 80%
  height: 50vh
  display: flex
  flex-direction: column
  background: url("/images/bg-pattern-card.svg")
  align-items: center
  border-radius: 10%
  .card-img
    margin-top: 30%
    img
      border-radius: 100%
      border: 4px solid #fff
  .card-name-and-location
    background: purple
